<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rpakitin.guitartunertester" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseTuning"
            android:label="@string/title_activity_choose_tuning" >
        </activity>
        <activity
            android:name=".ChooseInstrument"
            android:label="@string/title_activity_choose_instrument" >
        </activity>
        <activity
            android:name=".Metronome"
            android:label="@string/title_activity_metronome" >
        </activity>
    </application>

</manifest>
